@import "./reset.scss";

$bcBlue: #043873;
$turquoise: #4F9CF9;
$turquoiseHover: #4295fa;
$black: #212529;

html {
    overflow-x: hidden;
}

body {
    font-size: 18px;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    color: $black;
    overflow-x: hidden;
}

.container {
    width: 1450px;
    padding: 0px 15px;
    margin: 0 auto;
}

.trial {
    display: inline-block;
    cursor: pointer;
    padding: 20px 24px;
    background: $turquoise;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    transition: opacity 0.4s ease;

    &:hover {
        background: $turquoiseHover;
    }

    img {
        padding-left: 10px;
        vertical-align: inherit;
    }
}

.header {
    padding: 30px 0px;
    background-color: $bcBlue;
    color: #ffffff;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
    }

    &__logo {
        margin-bottom: 6px;
    }

    &__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-right: 32px;

        &:first-child {
            margin-left: 140px;
        }
        
        &:last-child {
            margin-right: 0px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__login {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        background: #FFE492;
        border-radius: 8px;
        color: $bcBlue;
        font-weight: 500;
        transition: opacity 0.4s ease;

        &:hover {
            background: #ffdf7e;
        }
    }
}

.home {
    position: relative;
    z-index: 4;
    color: #fff;
    background-color: $bcBlue;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        background-image: url('./../img/Element.png');
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        padding: 100px 0px 140px 0px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 482px;
        margin-right: 130px;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
    }

    &__text {
        margin: 24px 0px 60px 0px;
        max-width: 482px;
        line-height: 167%;
    }
}

.block {
    &__row_revers {
        flex-direction: row-reverse;
    }
    
    &_color {
        background-color: $bcBlue;
        color: #fff;
    }

    &__wrapper_padding {
        padding: 0px 0px 120px 0px;
    }
    
    &__content_left {
        margin-left: 40px;
        margin-right: 0px;
    }

    &__wrapper {
        padding: 120px 0px 120px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        margin-right: 40px;
        max-width: 590px;
    }

    &__content_left {
        margin-left: 40px;
    }

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;

        img {
            position: absolute;
            top: 28px;
            left: 220px;
            z-index: -1;
        }
    }

    &__text {
        margin: 24px 0 60px 0px;
        line-height: 167%;
    }

    &__btn {
        display: inline-block;
        padding: 20px 40px;
        background: #4F9CF9;
        border-radius: 6px;
        cursor: pointer;

        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        color: #fff;

        img {
            padding-left: 10px;
            vertical-align: inherit;
        }
    }
}

.pricing {
    &__wrapper {
        padding: 140px 0px;
    }

    &__content {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
        text-align: center;
        color: $black;
        margin-bottom: 24px;
    }

    &__text {
        line-height: 167%;
    }

    .pricing__cards {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}

.card {
    border: 1px solid #FFE492;
    padding: 40px 44px;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
    }

    &__price {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin: 25px 0px;
    }

    &__text {
        line-height: 128%;
        margin-bottom: 25px;
    }

    &__punk {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 125%;
        padding-top: 28px;

        img {
            margin-right: 10px;
        }
    }

    &__btn {
        cursor: pointer;
        margin-top: 25px;
        display: inline-block;
        padding: 16px 40px;     
        background: #FFFFFF;
        border: 1px solid #FFE492;
        border-radius: 8px;

        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        
        transition: all 0.2s ease;

        &:hover {
            background: #FFE492;
        }
    }
}

.slogan {
    position: relative;
    z-index: 99;
    background-color: $bcBlue;
    color: #fff;

    &__wrapper {
        padding: 140px 0px 160px;
    }

    &::before {
       content: '';
       position: absolute;
       z-index: -1;
       background-image: url('./../img/slogan.svg');
       background-repeat: no-repeat;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
    }
 

    &__content {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
    }

    &__text {
        margin: 24px 0px 60px 0px;
        line-height: 30px;
    }

    &__btn {
        display: inline-block;
        padding: 20px 40px;
        background: #4F9CF9;
        border-radius: 6px;
        cursor: pointer;

        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        color: #fff;

        img {
            padding-left: 10px;
            vertical-align: inherit;
        }
    }
}

.sponsors {
    &__wrapper {
        padding: 140px 0px;
    }
    
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
        text-align: center;
    }

    &__logo {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.reviews {
    &__wrapper {
        padding: 140px 0px;
    }

    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 120%;
        text-align: center;
    }

    &__clinets {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
    }

    &__slide {
        display: flex;
        margin-top: 60px;
        justify-content: center;
    }

    &__circle {
        display: flex;
        margin-right: 12px;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        background: #4F9CF9;

        &:last-child {
            padding-right: 0px;
        }
    }

    .client {
        padding: 60px 40px;
        box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        &__text {
            line-height: 167%;
            margin: 32px 0px 0px 0px;
        }

        &__line {
            margin: 50px 0px;
            max-width: 100%;
            border-bottom: 1px solid #212529;
        }

        &__row {
            display: flex;
            align-items: center;
        }

        &__desc {
            margin-left: 42px;
        }

        &__name {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
        }

        &__location {
            font-size: 16px;
            line-height: 125%;
        }
    }
}

.free {
    text-align: center;
    background-color: $bcBlue;
    color: #fff;

    &__wrapper {
        padding: 140px 0px;
    }

    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
        margin-bottom: 24px;
    }
    
    &__text {
        font-size: 24px;
        line-height: 133%;
        margin-bottom: 40px;
    }

    &__team {
        margin: 40px 0px;
        font-size: 24px;
        line-height: 133%;
    }

    &__oc {
        img {
            &:last-child {
                padding-right: 0px;
            }
            padding-right: 30px;
        }
    }
}

.hamburger {
	cursor: pointer;
	padding: 0;
	border: none;
	background: transparent;

	position: relative;
	z-index: 999;
	width: 40px;
	height: 30px;
	justify-content: center;
	align-items: center;

    display: none;

	&__icon {
		display: block;
		position: relative;
		width: 40px;
		height: 4px;
		background-color: #ffffff;

		&::after, &::before {
			position: absolute;
			content: '';
			width: 40px;
			height: 4px;
			background-color: #ffffff;
			transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
		}

		&::after {
			left: 0;
			top: 10px;
		}

		&::before {
			left: 0;
			top: -10px;
		}

		&.active {
			background-color: transparent;
		}
		
		&.active::before {
			transform: rotate(45deg);
			top: 0;
            background-color: #000000;
			transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
		}
		
		&.active::after {
			transform: rotate(-45deg);
			top: 0;
            background-color: #000000;
			transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
		}
	}
}

.mobile {
	display: none;

    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px;

    text-align: center;

	&.active {
		display: flex;
	}

	&__nav {
		font-size: 22px;

		li + li {
			margin-top: 20px;
		}
	}

    &__login {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__sign {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        gap: 10px;

        background: #FFE492;
        border-radius: 8px;

        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        color: #043873;
    }

    &__trial {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 36px;
        gap: 10px;

        background: #4F9CF9;
        border-radius: 8px;

        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        color: #FFFFFF;
    }
}

@media(max-width: 1469px) {
	.container {
		width: 100%;
	}
}

@media(max-width: 1399px) {
    .block__image {
        flex: 1 0 auto;
        flex-basis: 50%;  
    }
    
    .home__img {
        flex: 1 0 auto;
        flex-basis: 50%;  
    }
}

@media(max-width: 1299px) {
	.container {
		width: 100%;
	}
    .header__link:first-child {
        margin-left: 0px;
    }
    .reviews .client__desc {
        margin-left: 24px;
    }
    .reviews .client {
        padding: 60px 24px;
    }
}

@media(max-width: 1199px) {
	.header__nav {
        display: none;
    }

    .hamburger {
		display: flex;
	}

    .home__content {
        max-width: 482px;
        margin-right: 80px;
    }

    .block {
        &__title {
            font-size: 64px;
        }

        &__content {
            max-width: 436px;
        }
    }
}

@media(max-width: 999px) {
    .home {
        &__wrapper {
            padding: 140px 0px 100px 0px;
        }

        &__row {
            flex-direction: column;
        }

        &__content {
            max-width: 800px;
            margin-right: 0px;
            text-align: center;
        }

        &__title {
            font-size: 54px;
            line-height: 120%;
        }
    
        &__text {
            max-width: none;
        }
    
        &__btn {
            margin-bottom: 100px;
        }
    }

    .header__login {
        display: none;
    }

    .trial {
        display: none;
    }

    .block {
        &__wrapper {
            padding: 100px 0px 100px 0px;
        }

        &__wrapper_padding {
            padding: 100px 0px 0px 0px;
        }
    
        &__row {
            flex-direction: column;
            text-align: center;
        }
    
        &__title {
            font-size: 54px;
            line-height: 120%;
        }

        &__btn {
            margin-bottom: 100px;
        }
    
        &__content {
            max-width: none;
            margin-right: 0px;
            max-width: 800px;
        }
    
        &__content_left {
            margin-left: 0px;
        }
    }

    .pricing {
        &__wrapper {
            padding: 100px 0px;
        }

        &__title {
            font-size: 54px;
            line-height: 120%;
        }

        
    }

    .slogan {
        &__wrapper {
            padding: 100px 0px;
        }
        
        &__title {
            font-size: 54px;
            line-height: 120%;
        }

        &__content {
            max-width: 660px;
            text-align: left;
        }
    }

    .sponsors {
        &__wrapper {
            padding: 100px 0px;
        }

        &__title {
            font-size: 54px;
            line-height: 120%;
        }
    
        &__row {
            display: flex;
            flex-direction: column;
        }
    
        &__logo {
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
    }

    .reviews {
        &__title {
            font-size: 54px;
            line-height: 121%;
        }

        &__clinets {
            grid-template-columns: 1fr;
        }

        &__wrapper {
            padding: 140px 0px 100px 0px;
        }
    }

    .free__title {
        line-height: 120%;
        font-size: 54px;
    }

    .card {
        &:nth-child(1) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }
    }

    .client {
        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            display: none;
        }
    }
}

@media(max-width: 599px) {
    .pricing .pricing__cards {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .home__wrapper {
        padding: 100px 0px 100px 0px;
    }
}

@media(max-width: 320px) {
}

